<mat-nav-list>
    <!-- <a mat-list-item (click)="toggleTheme()" class="theme-toggle-item">
        @if(isDarkTheme()) {
        <mat-icon>brightness_7</mat-icon>
        } @else {
        <mat-icon>brightness_4</mat-icon>
        }
    </a> -->

    @for(menuItem of menuItems; track menuItem.path){
    <a mat-list-item [routerLink]="'/' + menuItem.path">
        <mat-icon>{{menuItem.icon}}</mat-icon>
        <span>{{menuItem.name}}</span>
    </a>
    }
    <a mat-list-item class="logout-menu-item" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </a>
</mat-nav-list>