@use 'app/shared/styles/themes' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-color-primary);

    &.dark {
        @extend .dark;
    }
}

.mat-mdc-card {
    background-color: var(--bg-secondary);
    color: var(--text-color-primary);
}

.mat-mdc-form-field-focus-overlay {
    background-color: var(--text-color-primary) !important;
}

.mat-mdc-text-field-wrapper {
    background-color: var(--bg-secondary);
}

.mat-mdc-select-arrow {
    color: var(--text-color-primary);
}

.mat-mdc-select-value {
    color: var(--text-color-primary);
}

.mat-mdc-form-field-label {
    color: var(--accent-cyan-color);
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    color: var(--accent-cyan-color);
}

.mat-mdc-button.mat-primary,
.mat-mdc-raised-button.mat-primary,
.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    background-color: var(--accent-blue-color);
}

.mat-mdc-input-element {
    color: var(--text-color-primary);
}

.mat-mdc-select-min-line {
    color: var(--text-color-primary);
}

.mat-mdc-select-arrow svg {
    fill: var(--text-color-primary);
}

mat-option .mdc-list-item__primary-text {
    width: 100%;
}

.albums-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.error-snackbar {
    background-color: #d32f2f;
    /* Material Red 700 */
    color: white;
}

.success-snackbar {
    background-color: #43a047;
    /* Material Green 600 */
    color: white;
}

.info-snackbar {
    background-color: #1976d2;
    /* Material Blue 700 */
    color: white;
}

.snackbar-content {
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 8px;
        color: white;
        /* Ensure icon color matches text */
    }
}